<div class="wrapper">
    <div class="content">
        <p-card header="Withdraw" class="deposit">
            <div class="details">
                <div class="input">
                    <label class="label">Withdraw ID</label>
                    <p-inputGroup>
                        <input type="text" [(ngModel)]="withdrawalCode" pInputText placeholder="Withdraw ID" />
                    </p-inputGroup>
                </div>

                <div class="input">
                    <label class="label">Password</label>
                    <p-inputGroup>
                        <input type="text" [(ngModel)]="password" pInputText placeholder="Password" />
                    </p-inputGroup>
                </div>

                <div class="submit">
                    <button pButton (click)="clear()" class="p-button-warning p-button-raised p-button-text p-button-sm btn-submit" label="Clear"></button>
                    <button pButton (click)="confirm()" class="p-button-success p-button-raised p-button-outlined p-button-sm btn-submit" label="Confirm"></button>
                </div>
            </div>
        </p-card>

        <p-card header="Information" class="info">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
        </p-card>
    </div>
</div>

<p-dialog header="Confirm Withdrawal" [draggable]="false" [modal]="true" [(visible)]="showConfirmDialog" [style]="{width: '500px'}">
    <div class="detail mb-3">
        <label class="label">Withdraw Method</label>
        <div class="submit mt-1">
            <p-dropdown [options]="withdrawMethodList" [(ngModel)]="withdrawMethod" class="w-full" placeholder="Withdraw Method" optionLabel="name" autoWidth="false" [style]="{width: '100%'}"></p-dropdown>
        </div>
        <label class="label mt-3" [hidden]="withdrawMethod.code != 'wallet'">Wallet Address</label>
        <div class="row mt-1" [hidden]="withdrawMethod.code != 'wallet'">
            <input pInputText [(ngModel)]="walletAddress" class="p-inputtext-sm w-full" placeholder="Wallet Address">
        </div>

        <div class="submit">
            <button pButton (click)="showConfirmDialog = false" label="Cancel" class="p-button-raised p-button-sm p-button-warning p-button-text w-full"></button>
            <button pButton (click)="withdraw()" label="Confirm" class="p-button-sm p-button-success p-button-outlined w-full"></button>
        </div>
    </div>
</p-dialog>