.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 15px 0;
}

.header {
    background: gray;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.deposit {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info {
    width: 100%;
    padding: 1.5rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.title2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.steps, .step {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-style: italic;
    font-size: small;
}

.step {
    gap: 5px;
}

.step span {
    font-weight: 100;
    border-bottom: 1px dotted gray;
    padding-bottom: 5px;
}

.text-end {
    text-align: end;
}

.step p {
    font-weight: 100;
    font-weight: 500;
    color: darkgray;
}

.label {
    font-weight: 100;
    font-style: italic;
    font-size: small;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input label {
    margin-right: 10px;
}

.submit {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
}

.btn-submit {
    width: 100%;
}


@media only screen and (max-width: 840px) {
    .content {
        flex-direction: column;
    }
}