<div class="wrapper">
    <div class="title">
        <div>Transaction History</div>
        <button pButton (click)="getDeposits()" label="Refresh" icon="pi pi-refresh" class="p-button-sm p-button-raised p-button-info p-button-text"></button>
    </div>

    <p-scrollPanel class="panel" [style]="{ width: '100%', height: '70vh' }">
        <div class="card card-info" *ngFor="let dep of response.deposits">
            <div class="detail">
                <div class="name">Reference</div>
                <div class="separator"></div>
                <div class="value">{{dep.ref}}</div>
            </div>
            <div class="detail">
                <div class="name">Amount</div>
                <div class="separator"></div>
                <div class="value">{{dep.amount}} trx</div>
            </div>
            <div class="detail">
                <div class="name">Fee</div>
                <div class="separator"></div>
                <div class="value">{{dep.fee}} trx</div>
            </div>
            <div class="detail">
                <div class="name">Timestamp</div>
                <div class="separator"></div>
                <div class="value">{{formatDate(dep.getDate())}}</div>
            </div>
            <div class="actions">
                <div class="indicator red" *ngIf="!dep.active" pTooltip="Inactive"></div>
                <div class="indicator green" *ngIf="dep.active" pTooltip="Active"></div>
                <button pButton (click)="showViewDialog(dep.uuid)" icon="pi pi-eye" iconPos="right" class="p-button-sm p-button-text p-button-info p-button-rounded"></button>
            </div>
        </div>
    </p-scrollPanel>

    <div class="bottom">
        <div></div>
        <div class="nextback">
            <button pButton label="Prev" class="p-button-raised p-button-sm p-button-text p-button-warning" icon="pi pi-angle-left"></button>
            <button pButton label="Next" class="p-button-raised p-button-sm p-button-text p-button-info" icon="pi pi-angle-right" iconPos="right"></button>
        </div>
    </div>
</div>

<p-dialog header="Deposit Details" [(visible)]="viewVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="details-wrapper">
        <div class="detail">
            <div class="detail-name">Reference</div>
            <div class="detail-value">{{deposit.ref}}</div>
        </div>
        <div class="detail">
            <div class="detail-name">Deposit ID</div>
            <div class="detail-value">{{deposit.uuid}}</div>
        </div>
        <div class="detail">
            <div class="detail-name">Owner Address</div>
            <div class="detail-value">{{deposit.owner}}</div>
        </div>
        <div class="detail">
            <div class="detail-name">Value (TRX)</div>
            <div class="detail-value">{{deposit.amount}}</div>
        </div>
        <div class="detail">
            <div class="detail-name">Transaction Fee (TRX)</div>
            <div class="detail-value">{{deposit.fee}}</div>
        </div>
        <div class="detail">
            <div class="detail-name">Is Active</div>
            <div class="detail-value">{{deposit.active}}</div>
        </div>
        <div class="detail">
            <div class="detail-name">Is Withdrawn</div>
            <div class="detail-value">{{deposit.withdrawn}}</div>
        </div>
        <div class="detail">
            <div class="detail-name">Is Blocked</div>
            <div class="detail-value">{{deposit.blocked}}</div>
        </div>
        <div class="detail">
            <div class="detail-name">Timestamp</div>
            <div class="detail-value">{{deposit.getDate()}}</div>
        </div>
    </div>
</p-dialog>

<p-confirmDialog acceptButtonStyleClass="p-button-success p-button-raised p-button-sm" rejectButtonStyleClass="p-button-warning p-button-raised p-button-sm p-button-text w-100" acceptIcon="none" acceptLabel="Confirm" rejectIcon="none" rejectLabel="Reject"></p-confirmDialog>
<p-toast [life]="10000"></p-toast>