<div class="wrapper">
    <div class="title">
        <div>Transaction History</div>
        <button pButton (click)="getDeposits()" label="Refresh" icon="pi pi-refresh" class="p-button-sm p-button-raised p-button-info p-button-text"></button>
    </div>

    <p-scrollPanel class="panel" [style]="{ width: '100%', height: '70vh' }">
        <div class="card card-info" *ngFor="let dep of response.deposits">
            <div class="detail">
                <div class="name">Reference</div>
                <div class="separator"></div>
                <div class="value">{{dep.ref}}</div>
            </div>
            <div class="detail">
                <div class="name">Amount</div>
                <div class="separator"></div>
                <div class="value">{{dep.amount}} trx</div>
            </div>
            <div class="detail">
                <div class="name">Fee</div>
                <div class="separator"></div>
                <div class="value">{{dep.fee}} trx</div>
            </div>
            <div class="detail">
                <div class="name">Timestamp</div>
                <div class="separator"></div>
                <div class="value">{{formatDate(dep.getDate())}}</div>
            </div>
            <div class="actions">
                <div class="indicator mt-13 red" *ngIf="!dep.active" pTooltip="Inactive"></div>
                <div class="indicator mt-13 green" *ngIf="dep.active" pTooltip="Active"></div>
                <button pButton (click)="showViewDialog(dep.uuid)" icon="pi pi-eye" iconPos="right" class="p-button-sm p-button-text p-button-info p-button-rounded"></button>
            </div>
        </div>
    </p-scrollPanel>

    <div class="bottom">
        <div></div>
        <div class="nextback">
            <button pButton (click)="getPrev()" [disabled]="!showBack" label="Prev" class="p-button-raised p-button-sm p-button-text p-button-warning" icon="pi pi-angle-left"></button>
            <button pButton (click)="getDeposits()" [disabled]="!showNext" label="Next" class="p-button-raised p-button-sm p-button-text p-button-info" icon="pi pi-angle-right" iconPos="right"></button>
        </div>
    </div>
</div>

<p-dialog header="Deposit Details" [(visible)]="viewVisible" [modal]="true" [style]="{ width: '70vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <div class="header">
            <div class="left">Details</div>
            <div class="right mr-3">
                <div class="indicator red" *ngIf="!deposit.active" pTooltip="Inactive"></div>
                <div class="indicator green" *ngIf="deposit.active" pTooltip="Active"></div>
            </div>
        </div>
    </ng-template>
    <div class="card card-info">
        <div class="detail">
            <div class="name">Reference</div>
            <div class="separator"></div>
            <div class="value">{{deposit.ref}}</div>
        </div>
        <div class="detail">
            <div class="name">Timestamp</div>
            <div class="separator"></div>
            <div class="value">{{formatDate(deposit.getDate())}}</div>
        </div>
    </div>
    <div class="card card-info">
        <div class="detail">
            <div class="name">Amount</div>
            <div class="separator"></div>
            <div class="value">{{deposit.amount}} trx</div>
        </div>
        <div class="detail">
            <div class="name">Fee</div>
            <div class="separator"></div>
            <div class="value">{{deposit.fee}} trx</div>
        </div>
    </div>
    <div class="card card-info">
        <div class="detail">
            <div class="name">Withdrawn</div>
            <div class="separator"></div>
            <div class="value" *ngIf="deposit.withdrawn">
                <p-badge value="Yes" severity="success"></p-badge>
            </div>
            <div class="value" *ngIf="!deposit.withdrawn">
                <p-badge value="No" severity="danger"></p-badge>
            </div>
        </div>
        <div class="detail">
            <div class="name">Reversed</div>
            <div class="separator"></div>
            <div class="value" *ngIf="deposit.reversed">
                <p-badge value="Yes" severity="success"></p-badge>
            </div>
            <div class="value" *ngIf="!deposit.reversed">
                <p-badge value="No" severity="danger"></p-badge>
            </div>
        </div>
    </div>
    <div class="card card-info">
        <div class="detail">
            <div class="name">Withdraw ID</div>
            <div class="separator"></div>
            <div class="value">{{deposit.uuid}}</div>
        </div>
        <div class="detail">
            <div class="name">Password</div>
            <div class="separator"></div>
            <div class="value">{{deposit.hash}}</div>
        </div>
    </div>

    <div>
        <button pButton (click)="showReverseConfirmationPopup(deposit.uuid, $event)" *ngIf="deposit.active" label="Reverse" class="p-button-sm p-button-warning p-button-raised p-button-text"></button>
    </div>
</p-dialog>