<p-menubar>
  <ng-template pTemplate="start">
    <div class="logo">Tron Cheques</div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="nav">
      <div *ngFor="let item of items">
        <div class="btn-item" id="{{item.name}}" (click)="onNavClick(item.name)" routerLink="{{item.link}}">{{item.name}}</div>
      </div>
      <div class="btn-connect">Connect</div>
    </div>
  </ng-template>
  <!--<ng-template pTemplate="end">
    <p-button icon="pi pi-bars"  [rounded]=true [text]=true></p-button>
  </ng-template>-->
</p-menubar>

<router-outlet />