.nav-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
    
}

.header {
    background: gray;
    text-align: center;
    margin-top: 20px;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: green;
    padding: 7px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    margin-bottom: 5px;
}

.nav {
    padding-top: 5px;
    display: flex;
    gap: 0px;
}

.btn-item {
    border: 1px solid transparent;
    padding: 6px 16px;
    margin-left: 5px;
    cursor: default;
    border-radius: 3px;
    transition: 0.3s;
    color: var(--primary-color-text);
}

.btn-item i {
    margin-right: 5px;
}

.btn-connect {
    margin-left: 10px;
}

.btn-item:hover {
    background: var(--highlight-bg);
    border: 1px solid var(--highlight-bg);
}

.btn-connect:hover {
    opacity: 0.8;
}

.separator {
    border-right: 1px solid silver;
    margin-left: 10px;
}

.burger {
    display: none;
}

.spin {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.spinner {
    margin: calc(50% - 25px);
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    border: 6px solid gray;
    border-top: 6px solid var(--primary-color);
    transition: all .3s ease;
    
    animation: rotate 1s linear infinite;
  }
  
  /*animating the loader to rotate*/
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

@media only screen and (min-width: 1440px) {
    .main {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 700px) {
    .burger {
        display: block;
    }

    .nav {
        display: none;
    }
}