<div class="main">
  <div class="nav-wrapper pb-2">
    <img class="logo" src="../assets/logo-wb.png">
    <div class="nav">
      <div>
        <div class="btn-item active" id="deposit" (click)="onNavClick('deposit')" routerLink="deposit"><i class="pi pi-user-plus"></i>Deposit</div>
      </div>
      <div>
        <div class="btn-item" id="withdraw" (click)="onNavClick('withdraw')" routerLink="withdraw"><i class="pi pi-user-minus"></i>Withdraw</div>
      </div>
      <div>
        <div class="btn-item" id="history" *ngIf="isConnected" (click)="onNavClick('history')" routerLink="history"><i class="pi pi-history"></i>History</div>
      </div>
      <div>
        <div class="btn-item" id="admin" *ngIf="isAdmin" (click)="onNavClick('admin')" routerLink="admin"><i class="pi pi-user-edit"></i>Admin</div>
      </div>

      <div class="separator"></div>
      <p-dropdown [options]="walletList" [(ngModel)]="wallet" *ngIf="!isConnected" optionLabel="name" placeholder="Select Wallet" autoWidth="false"></p-dropdown>
      <p-button class="btn-connect" (click)="connect()" [disabled]="!wallet && !isConnected" label="{{isConnected ? 'Disconnect' : 'Connect'}}" icon="{{isConnected ? 'pi pi-sign-out' : 'pi pi-sign-in'}}" styleClass="{{isConnected ? 'p-button-danger' : 'p-button-success'}} p-button-outlined p-button-raised p-button-sm" iconPos="right"></p-button>
    </div>
    <div class="burger">
      <button pButton (click)="visible = true" class="p-button-text p-button-secondary" icon="pi pi-bars"></button>
    </div>
  </div>

  <p-sidebar [(visible)]="visible" position="right">
    <ng-template pTemplate="header"></ng-template>
    <ng-template pTemplate="content">
      <div>
        <div class="btn-item" (click)="onNavClick('deposit')" routerLink="deposit"><i class="pi pi-user-plus"></i>Deposit</div>
      </div>
      <div>
        <div class="btn-item" (click)="onNavClick('withdraw')" routerLink="withdraw"><i class="pi pi-user-minus"></i>Withdraw</div>
      </div>
      <div>
        <div class="btn-item" *ngIf="isConnected" (click)="onNavClick('history')" routerLink="history"><i class="pi pi-history"></i>History</div>
      </div>
      <div>
        <div class="btn-item" *ngIf="isAdmin" (click)="onNavClick('admin')" routerLink="admin"><i class="pi pi-user-edit"></i>Admin</div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">Tron Cheques</ng-template>
  </p-sidebar>
  
  <router-outlet />

  <div class="footer">
    {{'Tron Cheques @' + getYear()}}
  </div>
</div>

<div id="spinner" class="spin">
  <p-progressSpinner styleClass="w-6rem h-6rem" strokeWidth="4" fill="transparent" animationDuration="1s"></p-progressSpinner>
</div>

<p-confirmDialog acceptButtonStyleClass="p-button-success p-button-raised p-button-sm" rejectButtonStyleClass="p-button-warning p-button-raised p-button-sm p-button-text w-100" acceptIcon="none" acceptLabel="Confirm" rejectIcon="none" rejectLabel="Reject" [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast [life]="10000"></p-toast>