.nav-wrapper {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 0 var(--surface-c);
}

.header {
    background: gray;
    text-align: center;
    margin-top: 20px;
}

.logo {
    height: 46px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid var(--surface-c);
    border: 1px solid var(--surface-c);
}

.nav {
    padding-top: 5px;
    display: flex;
    gap: 0px;
}

.btn-item {
    border: 1px solid transparent;
    padding: 6px 16px;
    margin-left: 5px;
    cursor: default;
    border-radius: 3px;
    transition: 0.3s;
    color: var(--primary-color-text);
}

.btn-item i {
    margin-right: 5px;
}

.btn-connect {
    margin-left: 10px;
}

.btn-item:hover {
    background: var(--highlight-bg);
    border: 1px solid var(--highlight-bg);
}

.btn-connect:hover {
    opacity: 0.8;
}

.separator {
    border-right: 1px solid silver;
    margin-left: 10px;
}

.burger {
    display: none;
}

.spin {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 999;
    background: rgba(0,0,0,0.5);
    padding-top: calc(50vh - 3rem);
    padding-left: calc(50vw - 3rem);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: center;
    font-size: x-small;
    color: var(--surface-d);
    padding: 2px;
    font-style: italic;
    background: var(--surface-c);
}

@media only screen and (min-width: 1440px) {
    .main {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 700px) {
    .burger {
        display: block;
    }

    .nav {
        display: none;
    }
}