.content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.deposit {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info {
    width: 100%;
    padding: 1.5rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.title2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.label {
    font-weight: 100;
    font-style: italic;
    font-size: small;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.input label {
    margin-right: 10px;
}

.submit {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-submit {
    width: 100%;
}

.steps, .step {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-style: italic;
    font-size: small;
}

.step {
    gap: 5px;
}

.step span {
    font-weight: 100;
    border-bottom: 1px dotted gray;
    padding-bottom: 5px;
}

.text-end {
    text-align: end;
}

.step p {
    font-weight: 100;
    font-weight: 500;
    color: darkgray;
}

.fees {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 3px;
}

.value span {
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
}

.value span:hover {
    box-shadow: 1px 1px 2px 0 gray;
}

.value span:active {
    color: gray;
    box-shadow: 1px 1px 2px 1px gray;
}

.minmax {
    font-size: small;
    color: var(--primary-color);
    font-style: italic;
}

@media only screen and (max-width: 840px) {
    .content {
        flex-direction: column;
    }
}